// Resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Header

.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 203, 5);
  height: 15vh;
}

.logo-left,
.logo-right {
  width: 15rem;
}

.header__text {
  font-size: 5rem;
  color: #008cff;
  text-shadow: 7px 11px 2px rgb(199, 160, 8);
}

// Main

// .main__wrapper {
//   background-color: springgreen;
//   height: 70vh;
// }

// Footer

.footer__wrapper {
  height: 15vh;
  background-color: rgb(42, 117, 187);
  display: flex;
  justify-content: space-between;
}
.footer__img {
  height: 15vh;
}
//
.main__title {
  color: white;
  font-size: 4rem;
  font-size: 3.5rem;
}

.main__desc-title {
  color: gray;
  font-size: 3rem;
  font-size: 2rem;
  font-style: italic;
  padding: 5rem 0;
  padding: 3rem 0;
}

.main__desc {
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  width: 75%;
  width: 55vw;
  padding-bottom: 2rem;
}

.main__button {
  color: yellow;
  font-size: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 0.15em yellow;

  border: 0.25rem solid yellow;
  border: 0.4rem solid yellow;
  border-radius: 0.25em;
  box-shadow: 0 0 0.2em yellow;
  padding: 0.3em 0.5em;
  background-color: rgb(37, 37, 37);
  display: inline-block;
  width: 10em;
  text-align: center;
}

.main__button:hover {
  color: rgb(37, 37, 37);
  text-shadow: none;

  background-color: yellow;
}
